
@media only screen and (min-width: 1216px) {

    body {
        padding: 88px 0px;
    }

    .main-section {
        max-width: 1216px;
        display: flex;
        gap: 32px;
    }

    .product-list {
        min-width:  800px;
    }

    .product-img {
        max-width: 250px;
    }

    .order-confirmed-div {
   
    
        max-width: 592px;
        height: fit-content;
        position: absolute;
        top: 300px;
        /* bottom: 0; */
        left: 50%;
        transform: translateX(-50%);
        border-radius: 12px;
    }

}