

body {
    font-family: "Red Hat Text";
    background-color: #FCF8F6;

    padding: 24px;
    box-sizing: border-box;
}








/* 
    STYLES FOR PRODUCT-SECTION
*/

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #260F08;
    margin-bottom: 32px;
}

.main-section {
    max-width: 327px;
    margin: auto;
}

.product-list {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */

    align-items: center;
    justify-content: center;
}

.product-container {
    margin-bottom: 24px;
}

.product-img {
    position: relative;
    max-width: 327px;
}


.product-img img {
    width: 100%; height: 212px;
    border-radius: 8px;
}


.buttons {
    width: 160px;
    height: 44px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid #AD8A85;
    border-radius: 999px;

    font-size: 14px;
    font-weight: 600;
    color: #260F08;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.add-remove-from-cart {
    border: 1px solid #C73B0F;
    background-color: #C73B0F;

    gap: 0;
    justify-content: space-between;

    /* 
        "add-remove-from-cart" button appears after 
        product order
    */

}

.display-none {
    display: none;
}


.decrement-increment {
    display: block;
    width: 20px;
    height: 20px;
    fill: #FFF;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

    border: 2px solid #FFFFFF;
    border-radius: 100%;
}

.decrement-increment:hover {
    fill: #C73B0F;
    background-color: #FFF;
    cursor: pointer;
}

.about-product {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-category {
    font-size: 14px;
    font-weight: 400;
    color: #87635A;
}

.product-name {
    font-size: 16px;
    font-weight: 600;
    color: #260F08;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    color: #C73B0F;
}



aside {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;

    padding: 24px;
    box-sizing: border-box;
}

.your-cart {
    font-size: 24px;
    font-weight: 700;
    color: #C73B0F;
}

.empty-cart {
    text-align: center ;
    margin-top: 24px;
    padding: 16px;
    box-sizing: border-box;
}

.orders {
    margin-top: 8px;
}


.order-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #F5EEEC;
    box-sizing: border-box;
}

h6 {
    color: #260F08;
    margin-bottom: 8px;
}

.order-box span {
    margin-right: 8px;
}

.single-product-order-number {
    color: #C73B0F;
}

.single-product-price {
    font-weight: 400;
    color: #87635A;
}

.sinlge-product-total-ptice {
    color: #87635A;
}

.remove-product {
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #87635A;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.order-total-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.order-total-div span {
    font-size: 14px;
    font-weight: 400;
    color: #260F08;
}

.order-total-price {
    font-size: 24px;
    font-weight: 700;
    color: #260F08;
}


.delivery {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FCF8F6;
    border-radius: 8px;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 24px;
}

.delivery span {
    font-size: 14px;
    font-weight: 400;
    color: #260F08;
}

.carbon-neutral:link,
.carbon-neutral:visited {
    font-weight: 600;
    color: #260F08;
}

.confirm-order-btn {
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    
    background-color: #C73B0F;

    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 999px;

    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;

    margin-top: 24px;

}





