
@media only screen and (min-width: 688px) {

    body {
        padding: 40px 0px;
    }

    .main-section {
        max-width: 688px;
    }

    .product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product-container {
        margin-bottom: 32px;
    }

    .product-img {
        max-width: 213px;
    }
    

}